# Por conta de alguns exercícios e exemplos serem do material da Alura,
# irei ocultá-los com o .gitignore, mas eles poderão ser ocasionalmente
# mencionados nos arquivos dos exercícios para dar contexto ao programa.
exercicios/
exemplos/